/* line 1, ../sass/styles.scss */
body {
  margin-top: 65px;
}

/* line 5, ../sass/styles.scss */
#logo_scroll {
  position: fixed;
  padding: 4px;
}

/* line 10, ../sass/styles.scss */
.contain-to-grid {
  border: 1px #ddd solid;
}

/* line 14, ../sass/styles.scss */
.center {
  text-align: center;
}

/* line 18, ../sass/styles.scss */
.content_box {
  background-color: #fff;
  line-height: 1.5em;
  color: #999;
  padding: 20px 0px;
}

/* line 25, ../sass/styles.scss */
.support_image {
  padding-top: 15px;
}

/* line 29, ../sass/styles.scss */
.hero {
  line-height: 1.5em;
  font-size: 1.7em;
  color: #ccc;
}

/* line 35, ../sass/styles.scss */
.parallax {
  background-position-x: 0px !important;
  background-size: cover;
  background-attachment: fixed;
  height: 400px;
}

/* line 42, ../sass/styles.scss */
.sketches {
  background-image: url("../images/sketches_dark.png");
}

/* line 45, ../sass/styles.scss */
.mr_synth {
  background-image: url("../images/mr_synth_dark.png");
}

/* line 48, ../sass/styles.scss */
.code {
  background-image: url("../images/code.png");
}

/* line 51, ../sass/styles.scss */
.noise_toaster {
  background: url("../images/noise_toaster.png");
}

/* line 54, ../sass/styles.scss */
.harrison_roof {
  background: url("../images/harrison_roof.png");
}

/* line 57, ../sass/styles.scss */
.logic {
  background: url("../images/logic.png");
}

/* line 61, ../sass/styles.scss */
.amplify_callout {
  height: 400px;
}

/* line 65, ../sass/styles.scss */
.avatar {
  background-image: url("../images/avatar_black.png");
  height: 400px;
  background-size: cover;
}

/* line 75, ../sass/styles.scss */
a h3:hover {
  text-decoration: underline;
}

/* line 79, ../sass/styles.scss */
.footer {
  background-color: #eee;
  margin-top: 50px;
}
/* line 82, ../sass/styles.scss */
.footer .columns {
  padding: 30px;
}

/* line 87, ../sass/styles.scss */
ul {
  list-style-type: none;
}
