/* line 1, ../sass/styles.scss */
body {
  margin-top: 50px;
}

/* line 5, ../sass/styles.scss */
#logo_scroll {
  position: fixed;
  padding: 4px;
}

/* line 10, ../sass/styles.scss */
.top_nav {
  border: 1px #ddd solid;
}

/* line 14, ../sass/styles.scss */
.content_box {
  background-color: #fff;
  line-height: 1.5em;
  color: #888;
  padding: 30px 0px;
}

/* line 21, ../sass/styles.scss */
.thumbnail {
  margin-bottom: 15px;
}

/* line 25, ../sass/styles.scss */
.divider {
  margin-bottom: 30px;
}

/* line 29, ../sass/styles.scss */
.hero {
  line-height: 1.5em;
  font-size: 1.7em;
  color: #bbb;
}

/* line 35, ../sass/styles.scss */
.parallax {
  background-position-x: 0px !important;
  background-size: cover;
  background-attachment: fixed;
  height: 400px;
  margin: 40px 0px 25px 0px;
}

/* line 43, ../sass/styles.scss */
.sketches {
  background-image: url("../images/sketches_dark.png");
}

/* line 46, ../sass/styles.scss */
.mr_synth {
  background-image: url("../images/mr_synth_dark.png");
}

/* line 49, ../sass/styles.scss */
.code {
  background-image: url("../images/code_dark.png");
}

/* line 52, ../sass/styles.scss */
.noise_toaster {
  background-image: url("../images/noise_toaster.png");
}

/* line 55, ../sass/styles.scss */
.harrison_roof {
  background-image: url("../images/harrison_roof_dark.png");
}

/* line 58, ../sass/styles.scss */
.logic {
  background-image: url("../images/logic.png");
}

/* line 62, ../sass/styles.scss */
.amplify_callout {
  height: 400px;
}

/* line 71, ../sass/styles.scss */
a h3:hover {
  text-decoration: underline;
}

/* line 75, ../sass/styles.scss */
.footer {
  background-color: #eee;
  margin-top: 50px;
  padding-top: 30px;
}

/* line 81, ../sass/styles.scss */
ul {
  list-style-type: none;
}
